.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  max-width: 350px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 10;
  @media (max-width: 768px) {
    position: fixed;
    left: 0;
    top: 0;
    padding: 16px 0;
    max-width: 100%;
    width: 100%;
    z-index: 10;
  }
}

.buttonsWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  margin-bottom: 24px;
  max-width: 300px;
  width: calc(100% - 24px);
  gap: 8px;
}

.pageInner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 24px);
  gap: 24px;
}

.listWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
