.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc03f;
  border-radius: 8px;
  padding: 8px 16px;
  height: 64px;
  cursor: pointer;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.headline {
  color: #282120;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.subtitle {
  color: #282120;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.button {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffc03f;
  border: 1px solid #282120;
  cursor: pointer;
}
