.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffc03f;
  border-radius: 8px;
  padding: 8px 16px;
  height: 64px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  &:hover {
    background-color: #ffde9d;
  }
}

.headline {
  color: #282120;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.subtitle {
  color: #282120;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
