.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 64px;
  gap: 32px;
  position: relative;
  // &::after {
  //   position: absolute;
  //   content: '';
  //   width: 900px;
  //   height: 900px;
  //   left: 60%;
  //   bottom: 0;
  //   background: url('../../public/blob_right.svg');
  //   z-index: -1;
  // }
}

.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 72px;
  gap: 54px;
  border-radius: 16px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
