.mainHeader {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.headerHeadline {
  font-size: 56px;
}

.headerParagraph {
  font-size: 24px;
}
