.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffc03f;
  border-radius: 8px;
  padding: 8px 16px;
  height: 54px;
}

.text {
  color: #282120;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
