.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 450px;
  height: 440px;
  gap: 16px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.mainScroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 440px;
  border-radius: 16px;
  gap: 16px;
  padding: 16px;
  background: #e6ecf5;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}
